<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174551543020-cpn1tp43ikju0c3bvl2dtleqjgdr0sph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174551543020-cpn1tp43ikju0c3bvl2dtleqjgdr0sph</string>
	<key>API_KEY</key>
	<string>AIzaSyAuHA_iLGQ5sYtI_pAdYOP6SyPcoJrZaB8</string>
	<key>GCM_SENDER_ID</key>
	<string>174551543020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coappdesign.drivewayz</string>
	<key>PROJECT_ID</key>
	<string>drivewayz-e20b9</string>
	<key>STORAGE_BUCKET</key>
	<string>drivewayz-e20b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:174551543020:ios:c40eabd27e0b04c8</string>
	<key>DATABASE_URL</key>
	<string>https://drivewayz-e20b9.firebaseio.com</string>
</dict>
</plist>
